####**Import Libraries**

In [ ]:
# Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

####**Import Dataset**

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Titanic Dataset.csv to Titanic Dataset.csv

In [ ]:
# Import dataset
data = pd.read_csv('Titanic Dataset.csv')

####**Dataset Description -**

| Variable | Definition of Variable| Key |
|----------|----------------|-----|
|survival	| Survival   	| 0 = No, 1 = Yes |
| pclass | Ticket class    	| 1 = 1st, 2 = 2nd, 3 = 3rd |
|sex	|Sex	|
|Age	|Age in years	|
|sibsp	|# of siblings / spouses aboard the Titanic	|
|parch	|# of parents / children aboard the Titanic	|
|ticket	| Ticket number	|
|fare	| Passenger fare |
|cabin |	Cabin number |
|embarked |	Port of Embarkation	| C = Cherbourg, Q = Queenstown, S = Southampton|

In [ ]:
data.head(5)

   PassengerId  Survived  Pclass  ... Cabin  Embarked  Gender
0            1         0       3  ...   NaN         S    male
1            2         1       1  ...   C85         C  female
2            3         1       3  ...   NaN         S  female
3            4         1       1  ...  C123         S  female
4            5         0       3  ...   NaN         S    male

[5 rows x 12 columns]

In [ ]:
data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
Gender          object
dtype: object

####**Conclusion -**

- **Quantitative Features** - PassengerId, Survived, Pclass, Age, SibSp, Parch, Fare
- **Categorical Features** - Name, Gender, Ticket, Cabin, Embarked

####**Check Null Values**

In [ ]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          156
Embarked         0
Gender           0
dtype: int64

**Features having null values -**

- Cabin (156)