####**Import Libraries**

In [ ]:
# Import Libraries
import pandas as pd
import numpy as np
import statistics as stats
import matplotlib.pyplot as plt
import seaborn as sns

####**Import Dataset**

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Titanic Dataset.csv to Titanic Dataset (1).csv

In [ ]:
data = pd.read_csv('Titanic Dataset.csv')

In [ ]:
data.head()

   PassengerId  Survived  Pclass  ... Cabin  Embarked  Gender
0            1         0       3  ...   NaN         S    male
1            2         1       1  ...   C85         C  female
2            3         1       3  ...   NaN         S  female
3            4         1       1  ...  C123         S  female
4            5         0       3  ...   NaN         S    male

[5 rows x 12 columns]

####**Median Value of Age and Fare**

In [ ]:
median_age = np.median(data['Age'])
print("Median value of Age -", median_age)

Median value of Age - 27.76173076923077

In [ ]:
median_fare = np.median(data['Fare'])
print("Median value of Fare -", median_fare)

Median value of Fare - 15.05

####**Mode Value of Age and PClass**

In [ ]:
mode_age = stats.mode(data['Age'])
print("Mode value of Age -", mode_age)

Mode value of Age - 27.76173076923077

In [ ]:
mode_class = stats.mode(data['Pclass'])
print("Mode value of PClass -", mode_class)

Mode value of PClass - 3

####**Mode Value of Categorical Feature - Gender**

In [ ]:
mode_gender = data['Gender'].value_counts().index[0]
print("Mode of Feature Gender -", mode_gender)

Mode of Feature Gender - male